@font-face {
    font-family: "Lexend_Deca";
    src: url(../fonts/Lexend\ Deca/);
    font-weight: 400;
}
@font-face {
    font-family: "Space_Mono";
    src: url(../fonts/Space\ Mono/);
    font-weight: 700;
}